.homePage{
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.911); /* Đổ bóng với màu đen nhẹ */

  select{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 30px;
  }
  button{
    margin-bottom: 5%;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
  }
  button:active{
    background-color: white;
    color: black;
  }
  
}
.question{
  font-size: 30px;
  font-weight: bold;
}
.answer{
  font-size: 20px;
  font-weight: 100;
  margin-left: 15px;
}